<h1>Tasks</h1>

<!-- fontawesome icons weren't displaying correctly,
followed steps here to fix it https://stackoverflow.com/questions/37092384/rails-font-awesome-icons-not-showing-using-font-awesome-rails-gem -->
<ul>
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed %>
      <i class="fa-solid fa-check"></i>
    <% else %>
      <i class="fa-regular fa-square"></i>
    <% end %>



    <%= link_to task.title, task_path(task) %> | <%= link_to "Delete",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>



 <button type="button" class="btn btn-default"><%= link_to("Create New Task", new_task_path) %></button>
